.form-container{


    .form-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        
    }

    @media screen and (max-width: 640px) {
        .form-grid{
            
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 0px;
        }
       
    }
}