.container-display-activities{
    padding: 10px;
    
    ul{
        list-style-type: none;
        box-shadow: rgba(0,0,0,0.35) 0 0 10px;
        border-radius: 10px;
        margin: auto;
        padding: 10px;
    }

    @media screen and (max-width: 640px) {
        text-align: center;
        .grid-container{
            grid-template-columns: 1fr;
            column-gap: 0px;
            row-gap: 50px;
        }
        ul{
            width: 98%;
        }
        .container-calendar{
            width: 98%;
            overflow: scroll;
        }

    }
}